
@font-face {
  font-family: 'mv-basico';
  font-style: normal;
  font-weight: 400;
  src: url('./mv-basico.eot');
  src: local('mv-basico'),
    url('./mv-basico.woff') format('woff'),
    url('./mv-basico.woff2') format('woff2'),
    url('./mv-basico.ttf') format('truetype');
}

[class^="mv-basico-"], [class*=" mv-basico-"] {
  font-family: 'mv-basico';
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="mv-basico-"].dp24, [class*=" mv-basico-"].dp24 {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

[class^="mv-basico-"].dp36, [class*=" mv-basico-"].dp36 {
  font-size: 36px;
  width: 36px;
  height: 36px;
}

[class^="mv-basico-"].dp48, [class*=" mv-basico-"].dp48 {
  font-size: 48px,
  width: 48px,
  height: 48px,
}

.mv-basico-abrir:before { content: 'abrir' }
.mv-basico-acao:before { content: 'acao' }
.mv-basico-acao_massa:before { content: 'acao_massa' }
.mv-basico-accordion:before { content: 'accordion' }
.mv-basico-acesso_externo:before { content: 'acesso_externo' }
.mv-basico-adicionar:before { content: 'adicionar' }
.mv-basico-adicionar_horario:before { content: 'adicionar_horario' }
.mv-basico-administracao:before { content: 'administracao' }
.mv-basico-agenda:before { content: 'agenda' }
.mv-basico-agenda_abrir:before { content: 'agenda_abrir' }
.mv-basico-agenda_buscar:before { content: 'agenda_buscar' }
.mv-basico-agenda_cancelar:before { content: 'agenda_cancelar' }
.mv-basico-agenda_confirmar:before { content: 'agenda_confirmar' }
.mv-basico-agenda_imprimir:before { content: 'agenda_imprimir' }
.mv-basico-agenda_liberar:before { content: 'agenda_liberar' }
.mv-basico-agenda_prosseguir:before { content: 'agenda_prosseguir' }
.mv-basico-agenda_rejeitar:before { content: 'agenda_rejeitar' }
.mv-basico-agrupar:before { content: 'agrupar' }
.mv-basico-ajuda:before { content: 'ajuda' }
.mv-basico-alerta:before { content: 'alerta' }
.mv-basico-alerta_usuario:before { content: 'alerta_usuario' }
.mv-basico-alimento:before { content: 'alimento' }
.mv-basico-alinhar_base:before { content: 'alinhar_base' }
.mv-basico-alinhar_direita:before { content: 'alinhar_direita' }
.mv-basico-alinhar_esquerda:before { content: 'alinhar_esquerda' }
.mv-basico-alinhar_horizontal:before { content: 'alinhar_horizontal' }
.mv-basico-alinhar_topo:before { content: 'alinhar_topo' }
.mv-basico-alinhar_vertical:before { content: 'alinhar_vertical' }
.mv-basico-ambiente:before { content: 'ambiente' }
.mv-basico-anexar:before { content: 'anexar' }
.mv-basico-animais:before { content: 'animais' }
.mv-basico-apagar:before { content: 'apagar' }
.mv-basico-arquivar:before { content: 'arquivar' }
.mv-basico-arquivo_gerar:before { content: 'arquivo_gerar' }
.mv-basico-assinar:before { content: 'assinar' }
.mv-basico-assistente:before { content: 'assistente' }
.mv-basico-associar:before { content: 'associar' }
.mv-basico-atalho:before { content: 'atalho' }
.mv-basico-atalho_login:before { content: 'atalho_login' }
.mv-basico-atividades:before { content: 'atividades' }
.mv-basico-atributo:before { content: 'atributo' }
.mv-basico-atributo_fx:before { content: 'atributo_fx' }
.mv-basico-atributo_hierarquico:before { content: 'atributo_hierarquico' }
.mv-basico-atualizar:before { content: 'atualizar' }
.mv-basico-auditar:before { content: 'auditar' }
.mv-basico-auditar_relatorio:before { content: 'auditar_relatorio' }
.mv-basico-auditoria_aberta:before { content: 'auditoria_aberta' }
.mv-basico-auditoria_abrir:before { content: 'auditoria_abrir' }
.mv-basico-auditoria_cancelar:before { content: 'auditoria_cancelar' }
.mv-basico-auditoria_concluir:before { content: 'auditoria_concluir' }
.mv-basico-auditoria_fechar:before { content: 'auditoria_fechar' }
.mv-basico-autorizar:before { content: 'autorizar' }
.mv-basico-autorizar_cota:before { content: 'autorizar_cota' }
.mv-basico-avancar:before { content: 'avancar' }
.mv-basico-aviso:before { content: 'aviso' }
.mv-basico-aviso_visualizar:before { content: 'aviso_visualizar' }
.mv-basico-backup:before { content: 'backup' }
.mv-basico-balanca:before { content: 'balanca' }
.mv-basico-banco:before { content: 'banco' }
.mv-basico-banco_dados:before { content: 'banco_dados' }
.mv-basico-bicicleta:before { content: 'bicicleta' }
.mv-basico-bloquear:before { content: 'bloquear' }
.mv-basico-borda_baixo:before { content: 'borda_baixo' }
.mv-basico-borda_cima:before { content: 'borda_cima' }
.mv-basico-borda_direita:before { content: 'borda_direita' }
.mv-basico-borda_esquerda:before { content: 'borda_esquerda' }
.mv-basico-borda_externa:before { content: 'borda_externa' }
.mv-basico-borda_horizontal:before { content: 'borda_horizontal' }
.mv-basico-borda_interna:before { content: 'borda_interna' }
.mv-basico-borda_nenhuma:before { content: 'borda_nenhuma' }
.mv-basico-borda_todas:before { content: 'borda_todas' }
.mv-basico-borda_vertical:before { content: 'borda_vertical' }
.mv-basico-bsc:before { content: 'bsc' }
.mv-basico-bug:before { content: 'bug' }
.mv-basico-buscar_cadastro_geral:before { content: 'buscar_cadastro_geral' }
.mv-basico-buscar_janela:before { content: 'buscar_janela' }
.mv-basico-bussola:before { content: 'bussola' }
.mv-basico-cabecalho:before { content: 'cabecalho' }
.mv-basico-cadastro:before { content: 'cadastro' }
.mv-basico-caixa_registradora:before { content: 'caixa_registradora' }
.mv-basico-calculo:before { content: 'calculo' }
.mv-basico-calendario:before { content: 'calendario' }
.mv-basico-camisa:before { content: 'camisa' }
.mv-basico-cancelar:before { content: 'cancelar' }
.mv-basico-casa:before { content: 'casa' }
.mv-basico-celular:before { content: 'celular' }
.mv-basico-certificado_digital:before { content: 'certificado_digital' }
.mv-basico-certificado_digital_pendente:before { content: 'certificado_digital_pendente' }
.mv-basico-chamada_lista:before { content: 'chamada_lista' }
.mv-basico-chamada_realizada:before { content: 'chamada_realizada' }
.mv-basico-chave:before { content: 'chave' }
.mv-basico-cheque:before { content: 'cheque' }
.mv-basico-cidadao_cadastrar:before { content: 'cidadao_cadastrar' }
.mv-basico-cidadao_remover:before { content: 'cidadao_remover' }
.mv-basico-cidadao_visualizar:before { content: 'cidadao_visualizar' }
.mv-basico-circulo:before { content: 'circulo' }
.mv-basico-classificacao:before { content: 'classificacao' }
.mv-basico-codigo_barras:before { content: 'codigo_barras' }
.mv-basico-colar:before { content: 'colar' }
.mv-basico-comentario:before { content: 'comentario' }
.mv-basico-comparar:before { content: 'comparar' }
.mv-basico-compras_web:before { content: 'compras_web' }
.mv-basico-comunicacao_ativa:before { content: 'comunicacao_ativa' }
.mv-basico-comunicacao_ativa_sigas:before { content: 'comunicacao_ativa_sigas' }
.mv-basico-conectividade:before { content: 'conectividade' }
.mv-basico-configuracoes:before { content: 'configuracoes' }
.mv-basico-configurar_xml:before { content: 'configurar_xml' }
.mv-basico-confirmar:before { content: 'confirmar' }
.mv-basico-confirmar_tudo:before { content: 'confirmar_tudo' }
.mv-basico-consolidar:before { content: 'consolidar' }
.mv-basico-consulta:before { content: 'consulta' }
.mv-basico-contas_pagar:before { content: 'contas_pagar' }
.mv-basico-contas_receber:before { content: 'contas_receber' }
.mv-basico-controladoria:before { content: 'controladoria' }
.mv-basico-copiar:before { content: 'copiar' }
.mv-basico-copiar_selecao:before { content: 'copiar_selecao' }
.mv-basico-copiar_suspender:before { content: 'copiar_suspender' }
.mv-basico-cor_borda:before { content: 'cor_borda' }
.mv-basico-cor_escolha:before { content: 'cor_escolha' }
.mv-basico-cor_fundo:before { content: 'cor_fundo' }
.mv-basico-cor_texto:before { content: 'cor_texto' }
.mv-basico-cortar:before { content: 'cortar' }
.mv-basico-cracha:before { content: 'cracha' }
.mv-basico-cursor:before { content: 'cursor' }
.mv-basico-curva_crescimento:before { content: 'curva_crescimento' }
.mv-basico-dados_cronologicos:before { content: 'dados_cronologicos' }
.mv-basico-dados_demograficos:before { content: 'dados_demograficos' }
.mv-basico-dados_solicitacao:before { content: 'dados_solicitacao' }
.mv-basico-dados_viagem:before { content: 'dados_viagem' }
.mv-basico-data_formato:before { content: 'data_formato' }
.mv-basico-data_hora:before { content: 'data_hora' }
.mv-basico-datacenter:before { content: 'datacenter' }
.mv-basico-denunciar:before { content: 'denunciar' }
.mv-basico-desagrupar:before { content: 'desagrupar' }
.mv-basico-desarquivar:before { content: 'desarquivar' }
.mv-basico-desassociar:before { content: 'desassociar' }
.mv-basico-desbloquear:before { content: 'desbloquear' }
.mv-basico-descer:before { content: 'descer' }
.mv-basico-desempenho_bom:before { content: 'desempenho_bom' }
.mv-basico-desempenho_medio:before { content: 'desempenho_medio' }
.mv-basico-desempenho_ruim:before { content: 'desempenho_ruim' }
.mv-basico-desfazer:before { content: 'desfazer' }
.mv-basico-desmarcar:before { content: 'desmarcar' }
.mv-basico-desmarcar_todos:before { content: 'desmarcar_todos' }
.mv-basico-detalhes:before { content: 'detalhes' }
.mv-basico-dicionario:before { content: 'dicionario' }
.mv-basico-dimensoes_menu:before { content: 'dimensoes_menu' }
.mv-basico-distribuir_base:before { content: 'distribuir_base' }
.mv-basico-distribuir_direita:before { content: 'distribuir_direita' }
.mv-basico-distribuir_esquerda:before { content: 'distribuir_esquerda' }
.mv-basico-distribuir_horizontal:before { content: 'distribuir_horizontal' }
.mv-basico-distribuir_topo:before { content: 'distribuir_topo' }
.mv-basico-distribuir_vertical:before { content: 'distribuir_vertical' }
.mv-basico-documento:before { content: 'documento' }
.mv-basico-documento_configurar:before { content: 'documento_configurar' }
.mv-basico-documento_eletronico:before { content: 'documento_eletronico' }
.mv-basico-documento_eletronico_copiado:before { content: 'documento_eletronico_copiado' }
.mv-basico-documento_eletronico_fechado:before { content: 'documento_eletronico_fechado' }
.mv-basico-documento_favorito:before { content: 'documento_favorito' }
.mv-basico-documento_grupo:before { content: 'documento_grupo' }
.mv-basico-documento_nova_versao:before { content: 'documento_nova_versao' }
.mv-basico-download:before { content: 'download' }
.mv-basico-editar:before { content: 'editar' }
.mv-basico-editar_lote:before { content: 'editar_lote' }
.mv-basico-editor:before { content: 'editor' }
.mv-basico-em_juizo:before { content: 'em_juizo' }
.mv-basico-enviar_tras:before { content: 'enviar_tras' }
.mv-basico-equipe:before { content: 'equipe' }
.mv-basico-erro:before { content: 'erro' }
.mv-basico-escala:before { content: 'escala' }
.mv-basico-espelho_documento:before { content: 'espelho_documento' }
.mv-basico-espessura:before { content: 'espessura' }
.mv-basico-estoque:before { content: 'estoque' }
.mv-basico-estrategia:before { content: 'estrategia' }
.mv-basico-excluir:before { content: 'excluir' }
.mv-basico-excluir_todos:before { content: 'excluir_todos' }
.mv-basico-executar_portlet:before { content: 'executar_portlet' }
.mv-basico-exportar:before { content: 'exportar' }
.mv-basico-exportar_csv:before { content: 'exportar_csv' }
.mv-basico-exportar_excel:before { content: 'exportar_excel' }
.mv-basico-faq:before { content: 'faq' }
.mv-basico-faturamento:before { content: 'faturamento' }
.mv-basico-faturamento_sus:before { content: 'faturamento_sus' }
.mv-basico-favorito:before { content: 'favorito' }
.mv-basico-favorito_adicionar:before { content: 'favorito_adicionar' }
.mv-basico-fechar:before { content: 'fechar' }
.mv-basico-filiacao:before { content: 'filiacao' }
.mv-basico-filtro:before { content: 'filtro' }
.mv-basico-filtro_alterar:before { content: 'filtro_alterar' }
.mv-basico-filtro_dinamico:before { content: 'filtro_dinamico' }
.mv-basico-filtro_limpar:before { content: 'filtro_limpar' }
.mv-basico-finalizar_todos:before { content: 'finalizar_todos' }
.mv-basico-fixar:before { content: 'fixar' }
.mv-basico-formato_decimal:before { content: 'formato_decimal' }
.mv-basico-formato_indefinido:before { content: 'formato_indefinido' }
.mv-basico-formato_numerico:before { content: 'formato_numerico' }
.mv-basico-formula:before { content: 'formula' }
.mv-basico-foto:before { content: 'foto' }
.mv-basico-galeria:before { content: 'galeria' }
.mv-basico-garbage_collector:before { content: 'garbage_collector' }
.mv-basico-gerar_importacao:before { content: 'gerar_importacao' }
.mv-basico-gerenciador_cotas:before { content: 'gerenciador_cotas' }
.mv-basico-gerenciamento_unidade:before { content: 'gerenciamento_unidade' }
.mv-basico-ges_chile:before { content: 'ges_chile' }
.mv-basico-gestante:before { content: 'gestante' }
.mv-basico-global:before { content: 'global' }
.mv-basico-grafico:before { content: 'grafico' }
.mv-basico-grid_off:before { content: 'grid_off' }
.mv-basico-grid_on:before { content: 'grid_on' }
.mv-basico-grupo:before { content: 'grupo' }
.mv-basico-hashtag:before { content: 'hashtag' }
.mv-basico-heap_dump:before { content: 'heap_dump' }
.mv-basico-historico:before { content: 'historico' }
.mv-basico-historico_acesso:before { content: 'historico_acesso' }
.mv-basico-historico_analise:before { content: 'historico_analise' }
.mv-basico-historico_negativo_geral:before { content: 'historico_negativo_geral' }
.mv-basico-historico_usuario:before { content: 'historico_usuario' }
.mv-basico-horizontal:before { content: 'horizontal' }
.mv-basico-identidade:before { content: 'identidade' }
.mv-basico-idoso:before { content: 'idoso' }
.mv-basico-imagem:before { content: 'imagem' }
.mv-basico-importar:before { content: 'importar' }
.mv-basico-impressao_digital:before { content: 'impressao_digital' }
.mv-basico-imprimir:before { content: 'imprimir' }
.mv-basico-imprimir_escala:before { content: 'imprimir_escala' }
.mv-basico-imprimir_fechar:before { content: 'imprimir_fechar' }
.mv-basico-iniciar:before { content: 'iniciar' }
.mv-basico-iniciar_servicos:before { content: 'iniciar_servicos' }
.mv-basico-instalar_app:before { content: 'instalar_app' }
.mv-basico-instalar_banco:before { content: 'instalar_banco' }
.mv-basico-interface:before { content: 'interface' }
.mv-basico-interrogacao:before { content: 'interrogacao' }
.mv-basico-italico:before { content: 'italico' }
.mv-basico-janela_maximizar:before { content: 'janela_maximizar' }
.mv-basico-janela_minimizar:before { content: 'janela_minimizar' }
.mv-basico-janela_restaurar:before { content: 'janela_restaurar' }
.mv-basico-job_schedule:before { content: 'job_schedule' }
.mv-basico-kpi:before { content: 'kpi' }
.mv-basico-lancar:before { content: 'lancar' }
.mv-basico-layout_novo:before { content: 'layout_novo' }
.mv-basico-legado:before { content: 'legado' }
.mv-basico-liberar_item:before { content: 'liberar_item' }
.mv-basico-ligar_desligar:before { content: 'ligar_desligar' }
.mv-basico-limpar_tabela:before { content: 'limpar_tabela' }
.mv-basico-linha_horizontal:before { content: 'linha_horizontal' }
.mv-basico-linha_inclinada:before { content: 'linha_inclinada' }
.mv-basico-linha_vertical:before { content: 'linha_vertical' }
.mv-basico-link:before { content: 'link' }
.mv-basico-lista:before { content: 'lista' }
.mv-basico-lista_agente:before { content: 'lista_agente' }
.mv-basico-lista_num:before { content: 'lista_num' }
.mv-basico-localizacao:before { content: 'localizacao' }
.mv-basico-logistica:before { content: 'logistica' }
.mv-basico-maior_que:before { content: 'maior_que' }
.mv-basico-maior_que_igual:before { content: 'maior_que_igual' }
.mv-basico-manutencao_sistema:before { content: 'manutencao_sistema' }
.mv-basico-mapa:before { content: 'mapa' }
.mv-basico-marcar:before { content: 'marcar' }
.mv-basico-matar_sessao:before { content: 'matar_sessao' }
.mv-basico-menor_que:before { content: 'menor_que' }
.mv-basico-menor_que_igual:before { content: 'menor_que_igual' }
.mv-basico-mensagem:before { content: 'mensagem' }
.mv-basico-menu:before { content: 'menu' }
.mv-basico-menu_secundario:before { content: 'menu_secundario' }
.mv-basico-metadados:before { content: 'metadados' }
.mv-basico-metrica:before { content: 'metrica' }
.mv-basico-metrica_fx:before { content: 'metrica_fx' }
.mv-basico-monitor:before { content: 'monitor' }
.mv-basico-monitor_entrada:before { content: 'monitor_entrada' }
.mv-basico-monitor_ligar:before { content: 'monitor_ligar' }
.mv-basico-monitor_log:before { content: 'monitor_log' }
.mv-basico-monitor_saida:before { content: 'monitor_saida' }
.mv-basico-monitor_tabela:before { content: 'monitor_tabela' }
.mv-basico-monitor_web:before { content: 'monitor_web' }
.mv-basico-mostar_pastas:before { content: 'mostar_pastas' }
.mv-basico-mulher:before { content: 'mulher' }
.mv-basico-multiempresa:before { content: 'multiempresa' }
.mv-basico-negar:before { content: 'negar' }
.mv-basico-negocio:before { content: 'negocio' }
.mv-basico-negrito:before { content: 'negrito' }
.mv-basico-nivel_atencao:before { content: 'nivel_atencao' }
.mv-basico-nota:before { content: 'nota' }
.mv-basico-notificacao:before { content: 'notificacao' }
.mv-basico-notificacao_email:before { content: 'notificacao_email' }
.mv-basico-nova_janela:before { content: 'nova_janela' }
.mv-basico-nova_pasta:before { content: 'nova_pasta' }
.mv-basico-novo:before { content: 'novo' }
.mv-basico-nuvem:before { content: 'nuvem' }
.mv-basico-orcamento:before { content: 'orcamento' }
.mv-basico-ordenar_alfabetica:before { content: 'ordenar_alfabetica' }
.mv-basico-ordenar_alfabetica_inversa:before { content: 'ordenar_alfabetica_inversa' }
.mv-basico-ordenar_campos:before { content: 'ordenar_campos' }
.mv-basico-organograma:before { content: 'organograma' }
.mv-basico-pacote:before { content: 'pacote' }
.mv-basico-pacote_download:before { content: 'pacote_download' }
.mv-basico-pacote_liberar:before { content: 'pacote_liberar' }
.mv-basico-pagamento:before { content: 'pagamento' }
.mv-basico-pan:before { content: 'pan' }
.mv-basico-parametrizacao:before { content: 'parametrizacao' }
.mv-basico-parar_servicos:before { content: 'parar_servicos' }
.mv-basico-passar_cartao:before { content: 'passar_cartao' }
.mv-basico-pasta_aberta:before { content: 'pasta_aberta' }
.mv-basico-pausar:before { content: 'pausar' }
.mv-basico-pdf:before { content: 'pdf' }
.mv-basico-pedido_defeito:before { content: 'pedido_defeito' }
.mv-basico-pedido_suporte:before { content: 'pedido_suporte' }
.mv-basico-pedidos:before { content: 'pedidos' }
.mv-basico-pendencia:before { content: 'pendencia' }
.mv-basico-pendencia_nenhuma:before { content: 'pendencia_nenhuma' }
.mv-basico-pep_cidadao:before { content: 'pep_cidadao' }
.mv-basico-perfil_faturamento:before { content: 'perfil_faturamento' }
.mv-basico-pesquisar:before { content: 'pesquisar' }
.mv-basico-politicas:before { content: 'politicas' }
.mv-basico-portal_atualizacao:before { content: 'portal_atualizacao' }
.mv-basico-portaria:before { content: 'portaria' }
.mv-basico-predio:before { content: 'predio' }
.mv-basico-preferencial:before { content: 'preferencial' }
.mv-basico-preferencias:before { content: 'preferencias' }
.mv-basico-processado:before { content: 'processado' }
.mv-basico-processo_integracao:before { content: 'processo_integracao' }
.mv-basico-processo_reintegrar:before { content: 'processo_reintegrar' }
.mv-basico-processo_status:before { content: 'processo_status' }
.mv-basico-protocolo:before { content: 'protocolo' }
.mv-basico-publicar:before { content: 'publicar' }
.mv-basico-publico_cobertura:before { content: 'publico_cobertura' }
.mv-basico-publico_importar:before { content: 'publico_importar' }
.mv-basico-qualidade:before { content: 'qualidade' }
.mv-basico-quebra_pagina:before { content: 'quebra_pagina' }
.mv-basico-quebrar_link:before { content: 'quebrar_link' }
.mv-basico-reabrir:before { content: 'reabrir' }
.mv-basico-recepcao:before { content: 'recepcao' }
.mv-basico-recuar:before { content: 'recuar' }
.mv-basico-refazer:before { content: 'refazer' }
.mv-basico-rejeicao_motivo:before { content: 'rejeicao_motivo' }
.mv-basico-relogio:before { content: 'relogio' }
.mv-basico-remover:before { content: 'remover' }
.mv-basico-report:before { content: 'report' }
.mv-basico-reservado:before { content: 'reservado' }
.mv-basico-restaurar:before { content: 'restaurar' }
.mv-basico-resumo:before { content: 'resumo' }
.mv-basico-resumo_online:before { content: 'resumo_online' }
.mv-basico-retangulo:before { content: 'retangulo' }
.mv-basico-reticencias:before { content: 'reticencias' }
.mv-basico-retornar_situacao:before { content: 'retornar_situacao' }
.mv-basico-retorno_solicitacao:before { content: 'retorno_solicitacao' }
.mv-basico-rodape:before { content: 'rodape' }
.mv-basico-rotas:before { content: 'rotas' }
.mv-basico-saidas:before { content: 'saidas' }
.mv-basico-sair:before { content: 'sair' }
.mv-basico-salvar:before { content: 'salvar' }
.mv-basico-salvar_avaliar:before { content: 'salvar_avaliar' }
.mv-basico-salvar_avancar:before { content: 'salvar_avancar' }
.mv-basico-salvar_como:before { content: 'salvar_como' }
.mv-basico-salvar_padrao:before { content: 'salvar_padrao' }
.mv-basico-script:before { content: 'script' }
.mv-basico-script_validar:before { content: 'script_validar' }
.mv-basico-selecionar_todos:before { content: 'selecionar_todos' }
.mv-basico-senha_alterar:before { content: 'senha_alterar' }
.mv-basico-servidor:before { content: 'servidor' }
.mv-basico-servidor_lista:before { content: 'servidor_lista' }
.mv-basico-seta_baixo:before { content: 'seta_baixo' }
.mv-basico-seta_baixo_bloco:before { content: 'seta_baixo_bloco' }
.mv-basico-seta_baixo_dupla:before { content: 'seta_baixo_dupla' }
.mv-basico-seta_baixo_simples:before { content: 'seta_baixo_simples' }
.mv-basico-seta_cima:before { content: 'seta_cima' }
.mv-basico-seta_cima_bloco:before { content: 'seta_cima_bloco' }
.mv-basico-seta_cima_dupla:before { content: 'seta_cima_dupla' }
.mv-basico-seta_cima_simples:before { content: 'seta_cima_simples' }
.mv-basico-seta_direita:before { content: 'seta_direita' }
.mv-basico-seta_direita_bloco:before { content: 'seta_direita_bloco' }
.mv-basico-seta_direita_bloco_ultimo:before { content: 'seta_direita_bloco_ultimo' }
.mv-basico-seta_direita_cheia:before { content: 'seta_direita_cheia' }
.mv-basico-seta_direita_dupla:before { content: 'seta_direita_dupla' }
.mv-basico-seta_direita_simples:before { content: 'seta_direita_simples' }
.mv-basico-seta_esquerda:before { content: 'seta_esquerda' }
.mv-basico-seta_esquerda_bloco:before { content: 'seta_esquerda_bloco' }
.mv-basico-seta_esquerda_bloco_primeiro:before { content: 'seta_esquerda_bloco_primeiro' }
.mv-basico-seta_esquerda_cheia:before { content: 'seta_esquerda_cheia' }
.mv-basico-seta_esquerda_dupla:before { content: 'seta_esquerda_dupla' }
.mv-basico-seta_esquerda_simples:before { content: 'seta_esquerda_simples' }
.mv-basico-seta_primeiro:before { content: 'seta_primeiro' }
.mv-basico-seta_subitem:before { content: 'seta_subitem' }
.mv-basico-seta_ultimo:before { content: 'seta_ultimo' }
.mv-basico-setor:before { content: 'setor' }
.mv-basico-simulador:before { content: 'simulador' }
.mv-basico-sinal_diferente:before { content: 'sinal_diferente' }
.mv-basico-sinal_dividir:before { content: 'sinal_dividir' }
.mv-basico-sinal_igual:before { content: 'sinal_igual' }
.mv-basico-sinal_menos:before { content: 'sinal_menos' }
.mv-basico-sinal_porcento:before { content: 'sinal_porcento' }
.mv-basico-sincronizar:before { content: 'sincronizar' }
.mv-basico-sincronizar_alerta:before { content: 'sincronizar_alerta' }
.mv-basico-sobrescrever:before { content: 'sobrescrever' }
.mv-basico-solicitar:before { content: 'solicitar' }
.mv-basico-stacktrace:before { content: 'stacktrace' }
.mv-basico-status:before { content: 'status' }
.mv-basico-status_barra:before { content: 'status_barra' }
.mv-basico-subir:before { content: 'subir' }
.mv-basico-sublinhado:before { content: 'sublinhado' }
.mv-basico-suporte:before { content: 'suporte' }
.mv-basico-tabela:before { content: 'tabela' }
.mv-basico-tabela_trocar:before { content: 'tabela_trocar' }
.mv-basico-tablet:before { content: 'tablet' }
.mv-basico-tag:before { content: 'tag' }
.mv-basico-teclado:before { content: 'teclado' }
.mv-basico-tela_cheia:before { content: 'tela_cheia' }
.mv-basico-telefone:before { content: 'telefone' }
.mv-basico-terminar:before { content: 'terminar' }
.mv-basico-teste_requisicao:before { content: 'teste_requisicao' }
.mv-basico-texto_centralizado:before { content: 'texto_centralizado' }
.mv-basico-texto_direita:before { content: 'texto_direita' }
.mv-basico-texto_esquerda:before { content: 'texto_esquerda' }
.mv-basico-texto_justificado:before { content: 'texto_justificado' }
.mv-basico-texto_padrao:before { content: 'texto_padrao' }
.mv-basico-thread:before { content: 'thread' }
.mv-basico-thread_matar:before { content: 'thread_matar' }
.mv-basico-timeline:before { content: 'timeline' }
.mv-basico-tipo:before { content: 'tipo' }
.mv-basico-tiss:before { content: 'tiss' }
.mv-basico-totem:before { content: 'totem' }
.mv-basico-trace:before { content: 'trace' }
.mv-basico-trace_off:before { content: 'trace_off' }
.mv-basico-traduzir:before { content: 'traduzir' }
.mv-basico-transporte:before { content: 'transporte' }
.mv-basico-trazer_frente:before { content: 'trazer_frente' }
.mv-basico-trigger:before { content: 'trigger' }
.mv-basico-trocar:before { content: 'trocar' }
.mv-basico-upload:before { content: 'upload' }
.mv-basico-usuario:before { content: 'usuario' }
.mv-basico-usuario_atender:before { content: 'usuario_atender' }
.mv-basico-usuario_finalizar:before { content: 'usuario_finalizar' }
.mv-basico-usuario_placeholder:before { content: 'usuario_placeholder' }
.mv-basico-usuario_preferencias:before { content: 'usuario_preferencias' }
.mv-basico-validar:before { content: 'validar' }
.mv-basico-versao:before { content: 'versao' }
.mv-basico-versao_voltar:before { content: 'versao_voltar' }
.mv-basico-vertical:before { content: 'vertical' }
.mv-basico-viagem_despesas:before { content: 'viagem_despesas' }
.mv-basico-viagem_historico:before { content: 'viagem_historico' }
.mv-basico-vigencia_fechar:before { content: 'vigencia_fechar' }
.mv-basico-vigencia_manter:before { content: 'vigencia_manter' }
.mv-basico-visualizacao_tile:before { content: 'visualizacao_tile' }
.mv-basico-visualizar:before { content: 'visualizar' }
.mv-basico-zoom_in:before { content: 'zoom_in' }
.mv-basico-zoom_out:before { content: 'zoom_out' }
