<div id="content_wrapper" class="fullWidth1-wrapper">
  <div class="content">
    <div class="header-wrapper header-sm">
      <header class="container-fluid">
        <div class="row">
          <div class="col">
            <h1>{{title}}</h1>
          </div>
        </div>
      </header>
    </div>
    <div class="content-body">
      <div class="card">
        <header class="card-header">
          <form>
            <div class="container">
              <div class="row">
                <div class="col-sm-8 form-group " style="margin-top: 0.9rem">
                  <label for="inputnome" class="sr-only">Nome</label>
                  <input type="text" class="form-control" id="inputNome" placeholder="Nome">
                </div>
                <div class="col-sm-3 form-group ">
                  <button type="submit" class="btn btn-primary">Pesquisar Unidade</button>
                </div>
              </div>
            </div>
          </form>
        </header>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Unidade</th>
              <th scope="col">CNES</th>
              <th scope="col" style="width: 40px; padding: 0 0.75rem 0 0;">
                <button type="button" class="btn btn-outline-success" style="padding: 3px" (click)="open(content)">
                  <i class="zmdi zmdi-plus-circle"></i>
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let unidade of unidades; let i=i ndex ">
              <td (click)="open(content, null ,unidade.unitName, unidade.cnes, unidade.id) ">{{unidade.unitName}}</td>
              <td (click)="open(content, null ,unidade.unitName, unidade.cnes, unidade.id) ">{{unidade.cnes}}</td>
              <td class="text-center" style="padding: 0 0.75rem 0 0;">
                <button type="button" class="btn btn-outline-danger" style="padding: 3px" disabled (click)="remove(unidade.id)">
                  <i class="zmdi zmdi-delete"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>

<ng-template #content let-c="close " let-d="dismiss ">
  <div class="modal-header ">
    <h4 class="modal-title ">UNIDADE {{this.nome}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" style="padding: 0">
      <i class="zmdi zmdi-close"></i>
      <!-- <span aria-hidden="true">&times;</span> -->
    </button>
  </div>
  <div class="modal-body ">
    <div class="card">
      <header class="card-header">
        <form (submit)=novaUnidade($event)>
          <div class="container">
            <div class="row">
              <div class="col-sm-5">
                <label for="inputNome" class="sr-only">Nome</label>
                <input type="text" class="form-control" value="{{this.nome}}" id="inputNome" placeholder="Nome">
              </div>
              <div class="col-sm-4">
                <label for="inputCnes" class="sr-only">CNES</label>
                <input type="text" class="form-control" value="{{this.cnes}}" id="inputCnes" placeholder="CNES">
              </div>
              <div class="col-sm-3 " style="padding: 0">
                <button type="submit" class="btn btn-primary" style="margin: 0; height: 38px;">Confirmar</button>
              </div>
              <!-- <div class="col-sm-3 " style="padding: 0; text-align: right;">
                <button class="btn btn-danger" style="margin: 0; height: 38px;" disabled>Remover</button>
              </div> -->
            </div>
          </div>
        </form>
      </header>
    </div>
  </div>
  <div class="modal-footer ">
    <button type="button " class="btn btn-outline-dark " (click)="c( 'Close click') ">Fechar</button>
  </div>
</ng-template>
